<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
<h1>End of the twit line </h1>
</body>
<script type="text/javascript">
	
	window.close();

</script>


</head>
</html>