<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
<h1>End of the twit line</h1>
<script>
	window.opener.getTwitAuth("<%=oauth.token%>", "<%=oauth.token_secret%>");
	window.close();
</script>
</body>




</html>