<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
<h1>End of the Four line </h1>
</body>
<script>

window.opener.getOauth("<%= oauth.access_token%>");
window.close();

</script>


</head>
</html>