<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
		<script>
			
			//might want to store in a js file at some point :)
			function activeTab(id) {
				$("#tab_container > div").css("display", "none");
				$('#' + id).css("display", "block");
				$("html, body").animate({ scrollTop: 0 }, 300);
				window.location.hash = '#' + id;
			}
			
			function twitterOAuth() {
				// open popup window and pass field id
				window.open('/auth/twitter', 'popuppage', 'width=600,toolbar=1,resizable=1,scrollbars=yes,height=400,top=100,left=100');
			}
			function fourOAuth() {
				// open popup window and pass field id
				window.open('/auth/foursqaure', 'popuppage', 'width=600,toolbar=1,resizable=1,scrollbars=yes,height=400,top=100,left=100');
			}
			function getTwitAuth(token, token_secret){
				var twitter_token = token;
				var twitter_token_secret = token_secret;
			}
			
			function getFourAuth(tokenf){
				var four_token = tokenf;
				
				
			}
			
			$(function(){
				
				if (window.location.hash != "")
					activeTab(window.location.hash.substring(1));
			
				$("form").each(function(){
					
					var currentform = $(this);
					
					var map;
				
					function initialize() {
					
						var mapOptions = {
							center: { lat: 53.381796, lng: -1.480719},
							mapTypeId: google.maps.MapTypeId.ROADMAP,
							zoom: 14
						};
					
						var markers = [];
						map = new google.maps.Map(currentform.find('.search-map-canvas').get(0), mapOptions);
						
						// Create the search box and link it to the UI element.
						var input = currentform.find('.maps_input').get(0);
						
						map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
						
						var searchBox = new google.maps.places.SearchBox(input);
						
						google.maps.event.addListener(searchBox, 'places_changed', function() {
						  var places = searchBox.getPlaces();
						
						  if (places.length == 0) {
						  	return;
						  }
						  for (var i = 0, marker; marker = markers[i]; i++) {
						  	marker.setMap(null);
						  }
						
						  // For each place, get the icon, place name, and location.
						  markers = [];
						  var bounds = new google.maps.LatLngBounds();
						  for (var i = 0, place; place = places[i]; i++) {
						  	var image = {
						  		url: place.icon,
						  		size: new google.maps.Size(71, 71),
						  		origin: new google.maps.Point(0, 0),
						  		anchor: new google.maps.Point(17, 34),
						  		scaledSize: new google.maps.Size(25, 25)
						  	};
						
						  	var marker = new google.maps.Marker({
						  		map: map,
						  		icon: image,
						  		title: place.name,
						  		position: place.geometry.location
						  	});
						
						  	markers.push(marker);
						
						  	bounds.extend(place.geometry.location);
						  	setLatLong();
						  }
						
						  map.fitBounds(bounds);
						  
						});
						
						// Bias the SearchBox results towards places that are within the bounds of the
						// current map's viewport.
						google.maps.event.addListener(map, 'bounds_changed', function() {
						  var bounds = map.getBounds();
						  searchBox.setBounds(bounds);
						  setLatLong();
						});
						
						$(".nav_button").on("mouseup", function(){
							console.log("asd");
							google.maps.event.trigger(map, 'resize');
						});
						
						google.maps.event.addListener(map, 'dragend', function() { 
						  setLatLong();
						});
						
						function setLatLong() {
						  templocation = map.getCenter();
						  currentform.find(".lat").get(0).value = parseFloat(templocation.k.toFixed(6));
						  currentform.find(".long").get(0).value = parseFloat(templocation.D.toFixed(6));
						  Draw_Circle();
						}
						  			
						setLatLong();
					}
					
					var draw_circle = null;
					var lastm;
					var lastlat;
					var lastlong;
		
					function Draw_Circle()     
					{        
						m = parseFloat(currentform.find(".radius").val());
						latitude = parseFloat(currentform.find(".lat").val());
						longitude = parseFloat(currentform.find(".long").val());
						
						if (m == lastm && latitude == lastlat && longitude == lastlong)
							return;
						       
						if (draw_circle != null)       
						{         
							draw_circle.setMap(null);       
						}       
						
						draw_circle = new google.maps.Circle({         
							center: new google.maps.LatLng(latitude, longitude),         
							radius: m,         
							strokeColor: "#FF0000",         
							strokeOpacity: 0.8,         
							strokeWeight: 2,         
							fillColor: "#FF0000",         
							fillOpacity: 0.35,         
							map: map       
							});
						
					}
					
					
					currentform.find(".radius, .lat, .long").on("keyup", function(){
					  Draw_Circle();
					  map.setCenter(new google.maps.LatLng(parseFloat(currentform.find(".lat").get(0).val()), parseFloat(currentform.find(".long").get(0).val())));
					});
		
					google.maps.event.addDomListener(window, 'load', initialize);
					
				});
			
			});
			

			function getOauth(token, token_secret) {
				var twitter_token = token;
				var twitter_token_secret = token_secret;
			}
		</script>
	</head>
	<body>
		<header>
			<%= title %>
		</header>
		<nav>
			<div id="left">
			<div class="title">Search:</div>
			<a href="javascript:void(0)" onmousedown="activeTab('discussion_tab')" class="nav_button">Discussion</a>
			<a href="javascript:void(0)" onmousedown="activeTab('user_dicussion_tab')" class="nav_button">Specific users discussion</a>
			<a href="javascript:void(0)" onmousedown="activeTab('user_venue_tab')" class="nav_button">User venues</a>
			<a href="javascript:void(0)" onmousedown="activeTab('venue_tab')" class="nav_button">Venue</a>
			</div>
			<div id="right">
				<div class="title">Log in to API:</div>
				<div class="fake_nav_button">
				Twitter
				<div class="hover_container">
					<a href="javascript:twitterOAuth()" class="button">Twitter</a>
					</div>
					</div><div class="fake_nav_button">
					FourSquare
					<div class="hover_container">
						<a href="javascript:fourOAuth()" class="button">FourSquare</a>
					</div>
				</div>
			</div>
		</nav>
		<div id="tab_container">
			<div id="discussion_tab">
				<div class="center_wrapper">
					<h1>Discussion search</h1>
					Tracking public discussions on specific topics (e.g. via hashtags or keywords): input keywords and/or hashtags. Outputs a list of messages containing the required keyword/hashtags. Its possible to limit the query to a specific geographic region.
					<form>
						<table>
							<tr>
								<td>
									Search:
									<div class="infoicon">
										<div class="popupinfo">
											<h2>Search</h2>
											Explanation about this item.
										</div>
									</div>
								</td>
								<td>
									<input type="text" name="search" placeholder="e.g. iPhone" />
								</td>
							</tr>
							<tr>
								<td>
									Live results:
									<div class="infoicon">
										<div class="popupinfo">
											<h2>Live results</h2>
											Explanation about this item.
										</div>
									</div>
								</td>
								<td>
									<div class="onoffswitch">
									    <input type="checkbox" name="liveresults" class="onoffswitch-checkbox" id="liveresults_content">
									    <label class="onoffswitch-label" for="liveresults_content">
									        <span class="onoffswitch-inner"></span>
									        <span class="onoffswitch-switch"></span>
									    </label>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<table>
										<tr>
											<td>
												Use location:
												<div class="infoicon">
													<div class="popupinfo">
														<h2>Live results</h2>
														Explanation about this item.
													</div>
												</div>
											</td>
											<td>
												<div class="onoffswitch">
												    <input type="checkbox" name="uselocation" class="onoffswitch-checkbox" id="uselocation_content">
												    <label class="onoffswitch-label" for="uselocation_content">
												        <span class="onoffswitch-inner"></span>
												        <span class="onoffswitch-switch"></span>
												    </label>
												</div>
											</td>
										</tr>
										
										<tr>
											<td>
												Location Radius (Metres, Optional):
												<div class="infoicon">
													<div class="popupinfo">
														<h2>Radius (Optional)</h2>
														Explanation about this item.
													</div>
												</div>
											</td>
											<td>
												<input type="text" class="radius" name="radius" placeholder="e.g. 1" value="1000" />
											</td>
										</tr>
									</table>
								</td>
								<td>
									<table>
										<tr>
											<td>
												Latitude (Optional):
												<div class="infoicon">
													<div class="popupinfo">
														<h2>Latitude (Optional)</h2>
														Explanation about this item.
													</div>
												</div>
											</td>
											<td>
												<input type="text" class="lat" name="lat" placeholder="e.g. 51.50722" value="53.381796" />
											</td>
										</tr>
										<tr>
											<td>
												Longetide (Optional):
												<div class="infoicon">
													<div class="popupinfo">
														<h2>Longetide (Optional)</h2>
														Explanation about this item.
													</div>
												</div>
											</td>
											<td>
												<input type="text" class="long" name="long" placeholder="e.g. -0.12750" value="-1.480719" />
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<!--<iframe width="100%" height="150" frameborder="0" style="border:0" id="search-map-canvas"
	src="https://www.google.com/maps/embed/v1/place?q=sheffield&key=AIzaSyARRU-El139sH4_4DjiZIpCO4Z6qhCSTqw"></iframe>-->
									<input class="maps_input" type="text" name="location" placeholder="e.g. St. George's Church" />
									<div class="search-map-canvas"></div>
								</td>
							</tr>
							<tr>
								<td>
								</td>
								<td class="clearfix">
									<input class="right" type="submit" name="submit" value="Search" />
								</td>
							</tr>
						</table>
					</form>
					
					<hr>
					
					<h1>Tweets</h1>
					<span>Hit submit above to discover tweets</span>
				
					<table class="tweet_table">
						<tr>
							<td width="300px">
								<div class="profile_top clearfix">
									<img class="profile_image" src="https://pbs.twimg.com/profile_images/490139247945719809/GHt2iObY_400x400.jpeg" alt="James McIlveen" height="100" width="100">
									<div class="name_wrapper">
										<a href="http://www.twitter.com/jtmcilveen" class="screen_name">James McIlveen</a><br>
										<a href="http://www.twitter.com/jtmcilveen">@jtmcilveen</a><br><br>
									</div>
								</div>
								
								
								<span class="dark">Location</span> Whaley Bridge<br>
								<span class="dark">Website</span> <a href="http://www.jamesmcilveen.com">www.jamesmcilveen.com</a><br>
								<span class="dark">Joined</span> May 2011<br><br>
								
								<span class="dark">Rock climber (bouldering) and computer scientist doing my Masters at Sheffield University</span><br><br>
								<a href="#">View profile and Tweets</a>
								
								
								
							</td>
							<td>
								<a href="http://www.twitter.com/jtmcilveen">@jtmcilveen</a> 13:41 6th May 2013<br>
								<div class="tweet">Anyone heard of the app <a href="http://www.twitter.com/Laser_Chambers">@Laser_Chambers</a>? It's a puzzle game coming soon to iPad/iPhone.etc Looks great! Check it out- <a href="http://jampinstudios.com/">http://jampinstudios.com/</a></div>
								0 Favourites, 0 Re-Tweets<br><br>
								Tweeted from:<br>
								<iframe width="100%" height="150" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=sheffield&key=AIzaSyARRU-El139sH4_4DjiZIpCO4Z6qhCSTqw"></iframe><br><br>
<center><a href="javascript:void(0)">See replies to tweet</a></center>
							</td>
						</tr>
					</table>
					
					<hr>
					
					<table class="tweet_table">
						<tr>
							<td width="300px">
								<div class="profile_top clearfix">
									<img class="profile_image" src="https://pbs.twimg.com/profile_images/490139247945719809/GHt2iObY_400x400.jpeg" alt="James McIlveen" height="100" width="100">
									<div class="name_wrapper">
										<a href="http://www.twitter.com/jtmcilveen" class="screen_name">James McIlveen</a><br>
										<a href="http://www.twitter.com/jtmcilveen">@jtmcilveen</a><br><br>
									</div>
								</div>
								
								
								<span class="dark">Location</span> Whaley Bridge<br>
								<span class="dark">Website</span> <a href="http://www.jamesmcilveen.com">www.jamesmcilveen.com</a><br>
								<span class="dark">Joined</span> May 2011<br><br>
								
								<span class="dark">Rock climber (bouldering) and computer scientist doing my Masters at Sheffield University</span><br><br>
								<a href="#">View profile and Tweets</a>

								
								
							</td>
							<td>
								<a href="http://www.twitter.com/jtmcilveen">@jtmcilveen</a> 13:41 6th May 2013<br>
								<div class="tweet">Anyone heard of the app <a href="http://www.twitter.com/Laser_Chambers">@Laser_Chambers</a>? It's a puzzle game coming soon to iPad/iPhone.etc Looks great! Check it out- <a href="http://jampinstudios.com/">http://jampinstudios.com/</a></div>
								0 Favourites, 0 Re-Tweets<br><br>
								Tweeted from:<br>
								<iframe width="100%" height="150" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=sheffield&key=AIzaSyARRU-El139sH4_4DjiZIpCO4Z6qhCSTqw"></iframe><br><br>
<center><a href="javascript:void(0)">See replies to tweet</a></center>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div id="user_dicussion_tab">
				<div class="center_wrapper">
					<h1>Specific user discussion search</h1>
					What specific users discuss about: the ids/screen_names of up to 10 users are provided in input and the most frequent Y keywords used in the last Z days must be displayed (with associated total count, as well as count for each users). Input: user ids, Y, Z – with Z >1
					<form>
						<table>
							<tr>
								<td>
									Screen Names/IDs:
									<div class="infoicon">
										<div class="popupinfo">
											<h2>Screen Names/IDs</h2>
											Explanation about this item.
										</div>
									</div>
								</td>
								<td>
									<input type="text" name="screenname" placeholder="e.g. jtmcilven, fabcira, stephenfry" />
								</td>
							</tr>
							<tr>
								<td>
									Number of Keywords:
									<div class="infoicon">
										<div class="popupinfo">
											<h2>Number of Keywords</h2>
											Explanation about this item.
										</div>
									</div>
								</td>
								<td>
									<input type="text" name="keywords" placeholder="e.g. 2" value="2" />
								</td>
							</tr>
							<tr>
								<td>
									Number of Days:
									<div class="infoicon">
										<div class="popupinfo">
											<h2>Number of Days</h2>
											Explanation about this item.
										</div>
									</div>
								</td>
								<td>
									<input type="text" name="days" placeholder="e.g. 5 - 0 or less enables live results" value="5" />
								</td>
							</tr>
							<tr>
								<td>
									Live results:
									<div class="infoicon">
										<div class="popupinfo">
											<h2>Live results</h2>
											Explanation about this item.
										</div>
									</div>
								</td>
								<td>
									<div class="onoffswitch">
									    <input type="checkbox" name="liveresults_people" class="onoffswitch-checkbox" id="liveresults_people">
									    <label class="onoffswitch-label" for="liveresults_people">
									        <span class="onoffswitch-inner"></span>
									        <span class="onoffswitch-switch"></span>
									    </label>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<table>
										<tr>
											<td>
												Use location:
												<div class="infoicon">
													<div class="popupinfo">
														<h2>Live results</h2>
														Explanation about this item.
													</div>
												</div>
											</td>
											<td>
												<div class="onoffswitch">
												    <input type="checkbox" name="uselocation" class="onoffswitch-checkbox" id="uselocation_content">
												    <label class="onoffswitch-label" for="uselocation_content">
												        <span class="onoffswitch-inner"></span>
												        <span class="onoffswitch-switch"></span>
												    </label>
												</div>
											</td>
										</tr>
										
										<tr>
											<td>
												Location Radius (Metres, Optional):
												<div class="infoicon">
													<div class="popupinfo">
														<h2>Radius (Optional)</h2>
														Explanation about this item.
													</div>
												</div>
											</td>
											<td>
												<input type="text" class="radius" name="radius" placeholder="e.g. 1" value="1000" />
											</td>
										</tr>
									</table>
								</td>
								<td>
									<table>
										<tr>
											<td>
												Latitude (Optional):
												<div class="infoicon">
													<div class="popupinfo">
														<h2>Latitude (Optional)</h2>
														Explanation about this item.
													</div>
												</div>
											</td>
											<td>
												<input type="text" class="lat" name="lat" placeholder="e.g. 51.50722" value="53.381796" />
											</td>
										</tr>
										<tr>
											<td>
												Longetide (Optional):
												<div class="infoicon">
													<div class="popupinfo">
														<h2>Longetide (Optional)</h2>
														Explanation about this item.
													</div>
												</div>
											</td>
											<td>
												<input type="text" class="long" name="long" placeholder="e.g. -0.12750" value="-1.480719" />
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<!--<iframe width="100%" height="150" frameborder="0" style="border:0" id="search-map-canvas"
	src="https://www.google.com/maps/embed/v1/place?q=sheffield&key=AIzaSyARRU-El139sH4_4DjiZIpCO4Z6qhCSTqw"></iframe>-->
									<input class="maps_input" type="text" name="location" placeholder="e.g. St. George's Church" />
									<div class="search-map-canvas"></div>
								</td>
							</tr>
							<tr>
								<td>
								</td>
								<td class="clearfix">
									<input class="right" type="submit" name="submit" value="Search" />
								</td>
							</tr>
						</table>
					</form>
				
					<hr>
					<h1>Tweets</h1>
					<span>Hit submit above to discover tweets</span>

					<table class="tweet_results_table" cellspacing="0">
						<tr>
							<td>
							</td>
							<td>
								jtmcilveen<br>
								<a href="#">View profile and Tweets</a>
							</td>
							<td>
								fabcira<br>
								<a href="#">View profile and Tweets</a>
							</td>
							<td>
								stephenfry<br>
								<a href="#">View profile and Tweets</a>
							</td>
							<td>
								Total<br>
							</td>
						</tr>
						<tr>
							<td>
								London
							</td>
							<td>
								5
							</td>
							<td>
								2
							</td>
							<td>
								6
							</td>
							<td>
								13
							</td>
						</tr>
						<tr>
							<td>
								Music
							</td>
							<td>
								3
							</td>
							<td>
								4
							</td>
							<td>
								1
							</td>
							<td>
								8
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div id="user_venue_tab">
				<div class="center_wrapper">
					<h1>User venues search</h1>
					What points of interest (venues) a specific user has visited in the last X days (input: user id, plus X – value of X may be zero: in this case the streaming API must be used to capture information when it is published)
					<form>
						<table>
							<tr>
								<td>
									Screen Name/ID:
									<div class="infoicon">
										<div class="popupinfo">
											<h2>Screen Name/ID</h2>
											Explanation about this item.
										</div>
									</div>
								</td>
								<td>
									<input type="text" name="screenname" placeholder="e.g. jtmcilven, fabcira, stephenfry" />
								</td>
							</tr>
							<tr>
								<td>
									Number of Days:
									<div class="infoicon">
										<div class="popupinfo">
											<h2>Number of Days</h2>
											Explanation about this item.
										</div>
									</div>
								</td>
								<td>
									<input type="text" name="days" placeholder="e.g. 5 - 0 or less enables live results" value="5" />
								</td>
							</tr>
							<tr>
								<td>
									Live results:
									<div class="infoicon">
										<div class="popupinfo">
											<h2>Live results</h2>
											Explanation about this item.
										</div>
									</div>
								</td>
								<td>
									<div class="onoffswitch">
									    <input type="checkbox" name="liveresults_people" class="onoffswitch-checkbox" id="liveresults_people">
									    <label class="onoffswitch-label" for="liveresults_people">
									        <span class="onoffswitch-inner"></span>
									        <span class="onoffswitch-switch"></span>
									    </label>
									</div>
								</td>
							</tr>
							<tr>
								<td>
								</td>
								<td class="clearfix">
									<input class="right" type="submit" name="submit" value="Search" />
								</td>
							</tr>
						</table>
					</form>
				
					<hr>
					<h1>User venues</h1>
					Here are the venues for <a href="#">@jtmcilveen</a><br>
					<a href="#">View profile and Tweets</a>

					<table class="tweet_results_table" cellspacing="0">
						<tr>
							<td>
								Venue
							</td>
							<td>
								Lat/Long
							</td>
							<td>
								Number of visits
							</td>
						</tr>
						<tr>
							<td>
								Sheffield
							</td>
							<td>
								53.371143,-1.392339
							</td>
							<td>
								1
							</td>
						</tr>
					</table>

					<hr>
					<h1>Location of Tweets</h1>
					<div class="white_container">
						<iframe width="100%" height="350" frameborder="0" style="border:0"
	src="https://www.google.com/maps/embed/v1/place?q=sheffield&key=AIzaSyARRU-El139sH4_4DjiZIpCO4Z6qhCSTqw"></iframe>
					</div>
				</div>
			</div>
			<div id="venue_tab">
				<div class="center_wrapper">
					<h1>Venue search</h1>
					Who is visiting venues in a specific geographic area (or visiting a named venue) or have done so in the last X days (input: name of location or coordinates, plus X – value of X may be zero: in this case the streaming API must be used to capture information when it is published).
					<form>
						<table>
							<tr>
								<td>
									Number of Days:
									<div class="infoicon">
										<div class="popupinfo">
											<h2>Number of Days</h2>
											Explanation about this item.
										</div>
									</div>
								</td>
								<td>
									<input type="text" name="days" placeholder="e.g. 5 - 0 or less enables live results" value="5" />
								</td>
							</tr>
							<tr>
								<td>
									Live results:
									<div class="infoicon">
										<div class="popupinfo">
											<h2>Live results</h2>
											Explanation about this item.
										</div>
									</div>
								</td>
								<td>
									<div class="onoffswitch">
									    <input type="checkbox" name="liveresults_people" class="onoffswitch-checkbox" id="liveresults_people">
									    <label class="onoffswitch-label" for="liveresults_people">
									        <span class="onoffswitch-inner"></span>
									        <span class="onoffswitch-switch"></span>
									    </label>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<table>
										<tr>
											<td>
												Location Radius (Metres, Optional):
												<div class="infoicon">
													<div class="popupinfo">
														<h2>Radius (Optional)</h2>
														Explanation about this item.
													</div>
												</div>
											</td>
											<td>
												<input type="text" class="radius" name="radius" placeholder="e.g. 1" value="1000" />
											</td>
										</tr>
									</table>
								</td>
								<td>
									<table>
										<tr>
											<td>
												Latitude (Optional):
												<div class="infoicon">
													<div class="popupinfo">
														<h2>Latitude (Optional)</h2>
														Explanation about this item.
													</div>
												</div>
											</td>
											<td>
												<input type="text" class="lat" name="lat" placeholder="e.g. 51.50722" value="53.381796" />
											</td>
										</tr>
										<tr>
											<td>
												Longetide (Optional):
												<div class="infoicon">
													<div class="popupinfo">
														<h2>Longetide (Optional)</h2>
														Explanation about this item.
													</div>
												</div>
											</td>
											<td>
												<input type="text" class="long" name="long" placeholder="e.g. -0.12750" value="-1.480719" />
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<!--<iframe width="100%" height="150" frameborder="0" style="border:0" id="search-map-canvas"
	src="https://www.google.com/maps/embed/v1/place?q=sheffield&key=AIzaSyARRU-El139sH4_4DjiZIpCO4Z6qhCSTqw"></iframe>-->
									<input class="maps_input" type="text" name="location" placeholder="e.g. St. George's Church" />
									<div class="search-map-canvas"></div>
								</td>
							</tr>
							<tr>
								<td>
								</td>
								<td class="clearfix">
									<input class="right" type="submit" name="submit" value="Search" />
								</td>
							</tr>
						</table>
					</form>
					<hr>
					<h1>Users at venue</h1>
					<span>Here are the users that have been found in the search area</span>
					<table class="tweet_results_table" cellspacing="0">
						<tr>
							<td>
								Username
							</td>
							<td>
								Number of visits
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">@jtmcilveen</a><br>
								<a href="#">View profile and Tweets</a>
							</td>
							<td>
								1
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">@jtmcilveen</a><br>
								<a href="#">View profile and Tweets</a>
							</td>
							<td>
								1
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">@jtmcilveen</a><br>
								<a href="#">View profile and Tweets</a>
							</td>
							<td>
								1
							</td>
						</tr>
					</table>
					<hr>
					<h1>Location of Tweets</h1>
					<div class="white_container">
						<iframe width="100%" height="350" frameborder="0" style="border:0"
	src="https://www.google.com/maps/embed/v1/place?q=sheffield&key=AIzaSyARRU-El139sH4_4DjiZIpCO4Z6qhCSTqw"></iframe>
					</div>
				</div>
			</div>
		</div>
		<div id="copyright">
			Copyright Group N+1 2015.
		</div>
	</body>
</html>
