<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>	
        <script src="/javascript/socket.io.js"></script>

		<script src="/javascript/main.js"></script>
		<script src="/javascript/searches.js"></script>
		<script src="/javascript/mapinit.js"></script>
		<script src="/javascript/validate.js"></script>
	</head>
	<body class="no_twitter no_four">
		<header>
			<%= title %> - Inteligent web assignment
			<div id="right">
				<div class="title">Log in to API:</div>
				<div id="twitter_api_button" class="fake_nav_button">
					Twitter
					<div class="hover_container ">
						<a href="javascript:twitterOAuth()" class="button no_twitter_show">Login</a>
						<a href="javascript:forgetTwitterAuth()" class="button have_twitter_show">Logout</a>
					</div>
				</div>
				<div id="foursquare_api_button" class="fake_nav_button">
					FourSquare
					<div class="hover_container ">
						<a href="javascript:fourOAuth()" class="button no_four_show">Login</a>
						<a href="javascript:forgetFourAuth()" class="button have_four_show">Logout</a>
					</div>
				</div>
			</div>
		</header>
		<nav>
			<div id="left">
				<div class="title">Search:</div>
				<a href="javascript:void(0)" onmousedown="activeTab('discussion_tab')" class="nav_button">Discussion</a>
				<a href="javascript:void(0)" onmousedown="activeTab('user_dicussion_tab')" class="nav_button">Users discussion</a>
				<a href="javascript:void(0)" onmousedown="activeTab('user_venue_tab')" class="nav_button">User venues</a>
				<a href="javascript:void(0)" onmousedown="activeTab('venue_tab')" class="nav_button">Venue</a>
			</div>
			<div id="right">
				<div class="title">Search database:</div>
				<a href="javascript:void(0)" onmousedown="activeTab('database_user_search_tab')" class="nav_button">Users</a>
				<a href="javascript:void(0)" onmousedown="activeTab('database_venue_search_tab')" class="nav_button">Venues</a>
			</div>
		</nav>
		<div id="notification_wrapper">

		</div>
		<div id="loading_overlay">
			
		</div>
		<div id="tab_container">
			
			<!--
				
			####################
			## DISCUSSION TAB ##	
			####################
				
			-->
			
			<div id="discussion_tab">
				<div class="center_wrapper">
					<h1>Discussion search</h1>
					Tracking public discussions on specific topics (e.g. via hashtags or keywords): input keywords and/or hashtags. Outputs a list of messages containing the required keyword/hashtags. Its possible to limit the query to a specific geographic region.
					<form id="discussion_search_form" action="/" method="post" class="map_init">
						<table class="req_twitter_api">
							<tr>
								<td>
									Search:
									<div class="infoicon">
										<div class="popupinfo">
											<h2>Search</h2>
											Explanation about this item.
										</div>
									</div>
								</td>
								<td>
									<input type="text" name="search" attr-validate="alphanumeric" attr-nonEmpty="true" placeholder="e.g. iPhone" />
								</td>
							</tr>
							<tr>
								<td>
									Live results:
									<div class="infoicon">
										<div class="popupinfo">
											<h2>Live results</h2>
											Explanation about this item.
										</div>
									</div>
								</td>
								<td>
									<div class="onoffswitch">
									    <input type="checkbox" name="liveresults" class="onoffswitch-checkbox" id="liveresults_discussion">
									    <label class="onoffswitch-label" for="liveresults_discussion">
									        <span class="onoffswitch-inner"></span>
									        <span class="onoffswitch-switch"></span>
									    </label>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<table>
										<tr>
											<td>
												Use location:
												<div class="infoicon">
													<div class="popupinfo">
														<h2>Live results</h2>
														Explanation about this item.
													</div>
												</div>
											</td>
											<td>
												<div class="onoffswitch">
												    <input type="checkbox" name="uselocation" class="onoffswitch-checkbox" id="uselocation_discussion">
												    <label class="onoffswitch-label" for="uselocation_discussion">
												        <span class="onoffswitch-inner"></span>
												        <span class="onoffswitch-switch"></span>
												    </label>
												</div>
											</td>
										</tr>
										
										<tr>
											<td>
												Location Radius (Miles, Optional):
												<div class="infoicon">
													<div class="popupinfo">
														<h2>Radius (Optional)</h2>
														Explanation about this item.
													</div>
												</div>
											</td>
											<td>
												<input type="text" class="radius" name="radius" placeholder="e.g. 1" value="1000" attr-validate="numeric" attr-nonempty="true"/>
											</td>
										</tr>
									</table>
								</td>
								<td>
									<table>
										<tr>
											<td>
												Latitude (Optional):
												<div class="infoicon">
													<div class="popupinfo">
														<h2>Latitude (Optional)</h2>
														Explanation about this item.
													</div>
												</div>
											</td>
											<td>
												<input type="text" class="lat" name="lat" placeholder="e.g. 51.50722" attr-validate="latlong" attr-nonEmpty="true" value="53.381796" />
											</td>
										</tr>
										<tr>
											<td>
												Longitude (Optional):
												<div class="infoicon">
													<div class="popupinfo">
														<h2>Longitude (Optional)</h2>
														Explanation about this item.
													</div>
												</div>
											</td>
											<td>
												<input type="text" class="long" name="long" placeholder="e.g. -0.12750" value="-1.480719" attr-validate="latlong" attr-nonEmpty="true" />
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<!--<iframe width="100%" height="150" frameborder="0" style="border:0" id="search-map-canvas"
	src="https://www.google.com/maps/embed/v1/place?q=sheffield&key=AIzaSyARRU-El139sH4_4DjiZIpCO4Z6qhCSTqw"></iframe>-->
									<input class="maps_input" type="text" name="location" placeholder="e.g. St. George's Church" />
									<div class="map_wrapper">
										<div class="search-map-canvas"></div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
								</td>
								<td class="clearfix">
									<input class="right" type="submit" name="submit" value="Search" />
								</td>
							</tr>
							<tr class="stop_streaming">
								<td class="clearfix">
									<a href="javascript:void(0)" class="button">Stop streaming</a>
								</td>
							</tr>
						</table>
					</form>
				
					<div id="discussion_location_return">
					
						
						
					</div>
				
					<div id="discussion_tweet_return">
					
						
						
					</div>
					
					
				</div>
			</div>
			
			<!--
				
			#########################
			## USER DISCUSSION TAB ##	
			#########################
				
			-->
			
			<div id="user_dicussion_tab">
				<div class="center_wrapper">
					<h1>Specific user discussion search</h1>
					What specific users discuss about: the ids/screen_names of up to 10 users are provided in input and the most frequent Y keywords used in the last Z days must be displayed (with associated total count, as well as count for each users). Input: user ids, Y, Z – with Z >1
					<form id="user_discussion_search_form" action="/" method="post" class="map_init">
						<table class="req_twitter_api">
							<tr>
								<td>
									Screen Names/IDs:
									<div class="infoicon">
										<div class="popupinfo">
											<h2>Screen Names/IDs</h2>
											Explanation about this item.
										</div>
									</div>
								</td>
								<td>
									<input type="text" name="screennames" attr-validate="alphanumeric" attr-nonempty="true" placeholder="e.g. jtmcilven, fabcira, stephenfry" />
								</td>
							</tr>
							<tr>
								<td>
									Number of Keywords:
									<div class="infoicon">
										<div class="popupinfo">
											<h2>Number of Keywords</h2>
											Explanation about this item.
										</div>
									</div>
								</td>
								<td>
									<input type="text" name="keywords" placeholder="e.g. 2" attr-validate="numeric" attr-nonempty="true" value="2" />
								</td>
							</tr>
							<tr>
								<td>
									Number of Days:
									<div class="infoicon">
										<div class="popupinfo">
											<h2>Number of Days</h2>
											Explanation about this item.
										</div>
									</div>
								</td>
								<td>
									<input type="text" name="days" placeholder="e.g. 5 - 0 or less enables live results" value="5" attr-validate="numeric" attr-nonempty="true" />
								</td>
							</tr>
							<tr>
								<td>
									Live results:
									<div class="infoicon">
										<div class="popupinfo">
											<h2>Live results</h2>
											Explanation about this item.
										</div>
									</div>
								</td>
								<td>
									<div class="onoffswitch">
									    <input type="checkbox" name="liveresults" class="onoffswitch-checkbox" id="liveresults_user_discussion">
									    <label class="onoffswitch-label" for="liveresults_user_discussion">
									        <span class="onoffswitch-inner"></span>
									        <span class="onoffswitch-switch"></span>
									    </label>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<table>
										<tr>
											<td>
												Use location:
												<div class="infoicon">
													<div class="popupinfo">
														<h2>Live results</h2>
														Explanation about this item.
													</div>
												</div>
											</td>
											<td>
												<div class="onoffswitch">
												    <input type="checkbox" name="uselocation" class="onoffswitch-checkbox" id="uselocation_user_discussion">
												    <label class="onoffswitch-label" for="uselocation_user_discussion">
												        <span class="onoffswitch-inner"></span>
												        <span class="onoffswitch-switch"></span>
												    </label>
												</div>
											</td>
										</tr>
										
										<tr>
											<td>
												Location Radius (Miles, Optional):
												<div class="infoicon">
													<div class="popupinfo">
														<h2>Radius (Optional)</h2>
														Explanation about this item.
													</div>
												</div>
											</td>
											<td>
												<input type="text" class="radius" name="radius" placeholder="e.g. 1" attr-nonempty="true" attr-validate="numeric" value="1000" />
											</td>
										</tr>
									</table>
								</td>
								<td>
									<table>
										<tr>
											<td>
												Latitude (Optional):
												<div class="infoicon">
													<div class="popupinfo">
														<h2>Latitude (Optional)</h2>
														Explanation about this item.
													</div>
												</div>
											</td>
											<td>
												<input type="text" class="lat" name="lat" placeholder="e.g. 51.50722" value="53.381796" attr-validate="latlong" attr-nonempty="true" />
											</td>
										</tr>
										<tr>
											<td>
												Longitude (Optional):
												<div class="infoicon">
													<div class="popupinfo">
														<h2>Longitude (Optional)</h2>
														Explanation about this item.
													</div>
												</div>
											</td>
											<td>
												<input type="text" class="long" name="long" placeholder="e.g. -0.12750" value="-1.480719" attr-validate="latlong" attr-nonempty="true" />
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<!--<iframe width="100%" height="150" frameborder="0" style="border:0" id="search-map-canvas"
	src="https://www.google.com/maps/embed/v1/place?q=sheffield&key=AIzaSyARRU-El139sH4_4DjiZIpCO4Z6qhCSTqw"></iframe>-->
									<input class="maps_input" type="text" name="location" placeholder="e.g. St. George's Church" />
									<div class="map_wrapper">
										<div class="search-map-canvas"></div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
								</td>
								<td class="clearfix">
									<input class="right" type="submit" name="submit" value="Search" />
								</td>
							</tr>
							<tr class="stop_streaming">
								<td class="clearfix">
									<a href="javascript:void(0)" class="button">Stop streaming</a>
								</td>
							</tr>
						</table>
					</form>
					
					<div id="user_discussion_table_return">
					
						
						
					</div>
					
					<div id="user_discussion_location_return">
					
						
						
					</div>
					
				</div>
			</div>
			
			<!--
				
			####################
			## USER VENUE TAB ##	
			####################
				
			-->
			
			<div id="user_venue_tab">
				<div class="center_wrapper">
					<h1>User venues search</h1>
					What points of interest (venues) a specific user has visited in the last X days (input: user id, plus X – value of X may be zero: in this case the streaming API must be used to capture information when it is published)
					<form id="user_venues_search_form" action="/" method="post">
						<table class="req_twitter_api">
							<tr>
								<td>
									Screen Name/ID:
									<div class="infoicon">
										<div class="popupinfo">
											<h2>Screen Name/ID</h2>
											Explanation about this item.
										</div>
									</div>
								</td>
								<td>
									<input type="text" name="screenname" placeholder="e.g. jtmcilven, 234239238499" attr-validate="alphanumeric" attr-nonempty="true" />
								</td>
							</tr>
							<tr>
								<td>
									Number of Days:
									<div class="infoicon">
										<div class="popupinfo">
											<h2>Number of Days</h2>
											Explanation about this item.
										</div>
									</div>
								</td>
								<td>
									<input type="text" name="days" placeholder="e.g. 5 - 0 or less enables live results" value="5" attr-validate="numeric" attr-nonempty="true" />
								</td>
							</tr>
							<tr>
								<td>
									Live results:
									<div class="infoicon">
										<div class="popupinfo">
											<h2>Live results</h2>
											Explanation about this item.
										</div>
									</div>
								</td>
								<td>
									<div class="onoffswitch">
									    <input type="checkbox" name="liveresults" class="onoffswitch-checkbox" id="liveresults_user_venues">
									    <label class="onoffswitch-label" for="liveresults_user_venues">
									        <span class="onoffswitch-inner"></span>
									        <span class="onoffswitch-switch"></span>
									    </label>
									</div>
								</td>
							</tr>
							<tr>
								<td>
								</td>
								<td class="clearfix">
									<input class="right" type="submit" name="submit" value="Search" />
								</td>
							</tr>
							<tr class="stop_streaming">
								<td class="clearfix">
									<a href="javascript:void(0)" class="button">Stop streaming</a>
								</td>
							</tr>
						</table>
					</form>
					
					<div id="user_venues_location_return">
					
						
						
					</div>
				
					<div id="user_venues_return">
					
						
						
					</div>
				
				</div>
			</div>
			
			<!--
				
			###############
			## VENUE TAB ##	
			###############
				
			-->
			
			<div id="venue_tab">
				<div class="center_wrapper">
					<h1>Venue search</h1>
					Who is visiting venues in a specific geographic area (or visiting a named venue) or have done so in the last X days (input: name of location or coordinates, plus X – value of X may be zero: in this case the streaming API must be used to capture information when it is published).
					<form id="venue_search_form" action="/" method="post" class="map_init">
						<table class="req_twitter_api">
							<tr>
								<td>
									Number of Days:
									<div class="infoicon">
										<div class="popupinfo">
											<h2>Number of Days</h2>
											Explanation about this item.
										</div>
									</div>
								</td>
								<td>
									<input type="text" name="days" placeholder="e.g. 5 - 0 or less enables live results" value="5" attr-validate="numeric" attr-nonempty="true" />
								</td>
							</tr>
							<tr>
								<td>
									Live results:
									<div class="infoicon">
										<div class="popupinfo">
											<h2>Live results</h2>
											Explanation about this item.
										</div>
									</div>
								</td>
								<td>
									<div class="onoffswitch">
									    <input type="checkbox" name="liveresults" class="onoffswitch-checkbox" id="liveresults_venue">
									    <label class="onoffswitch-label" for="liveresults_venue">
									        <span class="onoffswitch-inner"></span>
									        <span class="onoffswitch-switch"></span>
									    </label>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<table>
										<tr>
											<td>
												Location Radius (Miles, Optional):
												<div class="infoicon">
													<div class="popupinfo">
														<h2>Radius (Optional)</h2>
														Explanation about this item.
													</div>
												</div>
											</td>
											<td>
												<input type="text" class="radius" name="radius" placeholder="e.g. 1" value="1000" attr-validate="numeric" attr-nonempty="true" />
											</td>
										</tr>
									</table>
								</td>
								<td>
									<table>
										<tr>
											<td>
												Latitude (Optional):
												<div class="infoicon">
													<div class="popupinfo">
														<h2>Latitude (Optional)</h2>
														Explanation about this item.
													</div>
												</div>
											</td>
											<td>
												<input type="text" class="lat" name="lat" placeholder="e.g. 51.50722" value="53.381796" attr-validate="latlong" attr-nonempty="true"/>
											</td>
										</tr>
										<tr>
											<td>
												Longitude (Optional):
												<div class="infoicon">
													<div class="popupinfo">
														<h2>Longitude (Optional)</h2>
														Explanation about this item.
													</div>
												</div>
											</td>
											<td>
												<input type="text" class="long" name="long" placeholder="e.g. -0.12750" value="-1.480719" attr-validate="latlong" attr-nonempty="true"/>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<!--<iframe width="100%" height="150" frameborder="0" style="border:0" id="search-map-canvas"
	src="https://www.google.com/maps/embed/v1/place?q=sheffield&key=AIzaSyARRU-El139sH4_4DjiZIpCO4Z6qhCSTqw"></iframe>-->
									<input class="maps_input" type="text" name="location" placeholder="e.g. St. George's Church" />
									<div class="map_wrapper">
										<div class="search-map-canvas"></div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
								</td>
								<td class="clearfix">
									<input class="right" type="submit" name="submit" value="Search" />
								</td>
							</tr>
							<tr class="stop_streaming">
								<td class="clearfix">
									<a href="javascript:void(0)" class="button">Stop streaming</a>
								</td>
							</tr>
						</table>
					</form>
					
					<div id="venue_return_location_return">
					
						
						
					</div>
					
					<div id="venue_return">
					
						
						
					</div>
					
				</div>
			</div>
			
			<!--
				
			#######################
			## DATABASE USER TAB ##	
			#######################
				
			-->
			
			<div id="database_user_search_tab">
				<div class="center_wrapper">
					<h1>Database user search</h1>
					<form id="database_user_form" action="/" method="post">
						<table class="req_twitter_api">
							<tr>
								<td>
									ID/Screen Name/Name:
									<div class="infoicon">
										<div class="popupinfo">
											<h2>Screen Names/IDs</h2>
											Explanation about this item.
										</div>
									</div>
								</td>
								<td>
									<input type="text" name="username" placeholder="e.g. jtmcilvee, 29932932923" attr-validate="alphanumeric" attr-nonempty="true" />
								</td>
							</tr>
							<tr>
								<td>
								</td>
								<td class="clearfix">
									<input class="right" type="submit" name="submit" value="Search" />
								</td>
							</tr>
						</table>
					</form>
					<hr>
					<div id="database_user_table_return">

					</div>
				</div>
			</div>
			
			<!--
				
			########################
			## DATABASE VENUE TAB ##	
			########################
				
			-->
			
			<div id="database_venue_search_tab">
				<div class="center_wrapper">
					<h1>Database venue search</h1>
					<form id="database_venue_form" action="/" method="post">
						<table class="req_twitter_api">
							<tr>
								<td>
									ID/Screen Name/Name:
									<div class="infoicon">
										<div class="popupinfo">
											<h2>Screen Names/IDs</h2>
											Explanation about this item.
										</div>
									</div>
								</td>
								<td>
									<input type="text" name="venue_name_coordinates" placeholder="e.g. St Georges Church, 53.3816232,-1.4817597" attr-validate="alphanumeric" attr-nonempty="true"/>
								</td>
							</tr>
							<tr>
								<td>
								</td>
								<td class="clearfix">
									<input class="right" type="submit" name="submit" value="Search" />
								</td>
								</tr>
						</table>
					</form>
					<hr>
					<div id="database_venue_table_return">
						
					</div>
				</div>
			</div>
		</div>
		<!--
				
		###############################
		## ALTERNATE PANEL CONTAINER ##	
		###############################
				
		-->
		
		<div id="alternate_panel_container" class="hide">
			
		</div>
		<div id="copyright">
			Copyright 2015 <%= title %>.
		</div>
	</body>
</html>
