<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
<h1>FourSquare API tokens obtained. Closing window.</h1>
<script>
	window.opener.SetFourAuth("<%=oauth.access_token%>");
	window.close();
</script>
</body>




</html>